@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font- awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0;
    padding: 0;
}

body {
    font: 14px 'Roboto', sans-serif;
}